@use 'promenne';
@use 'zaklad';

.blog__title {
    text-align: center;
   }

.blog {
    max-width: 1100px;
    padding: promenne.$spacer;
    margin: 0 auto;
   }

.clanek {
    display: flex;
    border: 1px solid promenne.$titlecolor;
    padding: promenne.$spacer;
    margin: 0 auto promenne.$spacer auto;
    max-width: 700px;
    @media screen and (max-width: 639px) {
        flex-direction: column;
        }
       
    &__obsah {
        flex: 0 0 60%;
        @media screen and (max-width: 639px) {
           margin-bottom: 20px;
        }
    }

    &__obsah h2 {
        @media screen and (max-width: 350px) {
            font-size: 17px;
            }
    }

    &__img {
        width: 40%;
        height: 250px;
        object-fit: cover;
        flex: 0 0 40%;
        margin-right: promenne.$spacer;
        @media screen and (max-width: 639px) {
            width: 100%;
            max-height: 250px;
        }
    }

    &__link {
        color: promenne.$textcolor;
    }
    &__link:hover {
        color: promenne.$titlecolor;
    }
}