@use 'promenne';
@use 'zaklad';

.article {
    max-width: 1100px;
    padding: promenne.$spacer;
    margin: 0 auto;
}

.article__content {
    @media screen and (min-width: 640px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
   }
}

.article__text p {
    margin-right: 0;
}

.article__image {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

.article__link {
    color: promenne.$textcolor;
    font-size: 14px;
    &:hover {
        color: promenne.$titlecolor;
    }
}