@use 'promenne';
@use 'zaklad';

header {
    position: relative;
}
.background {
    width: 100%;
    height: 500px;
    display: block;
    object-fit: cover;
    @media screen and (min-width: 639px) {
        height: 100vh;
        }
}

.header__wrapper {
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    z-index: 2;
    background: rgba(201, 96, 136, 0.7);
    @media screen and (max-width: 639px) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: center;
        align-items: center;
    }
}

.logo__img {
    fill: rgb(255, 255, 255);
          }

.logo{
    margin: 20px auto;
    display: block;
    width: 300px;
    @media screen and (max-width: 639px) {
        width: 150px;
        margin: 10px;
        }
}

.quote {
    position: absolute;
    padding: 15px;
    background: rgba(201, 97, 96, 0.7);
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-family: 'Amatic SC', cursive;
    margin-right: 40px;
    left: 40px;
    bottom: 15%;
    @media screen and (min-width: 639px) {
        font-size: 25px;
        padding: promenne.$spacer;
        }
}

.body__main {
    padding-top: 0;
}

