@use 'promenne';
@use 'zaklad';

.menu__checkbox {
	position: absolute;
	left: -9999px;
}


.menu__toggler--other {
    cursor: pointer;
    color: promenne.$textcolor;
	font-size: 30px;
}

.menu__link--other {
	display: block;
	padding: 15px;
	text-decoration: none;
    color: promenne.$titlecolor;
    font-family: promenne.$textfont;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    @media screen and (max-width: 639px) {
        color: promenne.$textcolor;
		text-align: center;        
            }
}

.menu__submenu--other a {
	display: block;
	padding: 15px;
	text-decoration: none;
	border-bottom: 1px solid promenne.$titlecolor;
    color: promenne.$titlecolor;
    font-family: promenne.$textfont;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
	@media screen and (max-width: 639px) {
        display: none;        
            }
}

.menu__submenu--other a:hover {
	background-color: rgba(201, 97, 96, 0.4);
}

.menu__link--other:hover {
	background-color: rgb(236, 181, 181);
}
.menu__submenu--other {
	display: none;
	position: absolute;
	color: promenne.$titlecolor;
	left: 0;
	top: 100%;
	background-color: white;
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 150px;
	@media screen and (max-width: 639px) {
        display: none;        
            }
}

.menu__list {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	@media screen and (max-width: 639px) {
		position: absolute;
		top: 56px;
		left: -900%;
		background-color: white;
		width: 320px;
	}
}

.menu__item--sperky {
	position: relative;
}
.menu__item--sperky:hover .menu__submenu--other {
	display: block;
}

@media screen and (max-width: 639px) {
.menu__checkbox:checked ~ .menu__list {
	display: block;
	}

}

@media screen and (min-width: 640px) {
	.menu__toggler--other {
		display: none;
	}

	.menu__list {
		display: flex;
        justify-content: center;
	}

	.menu__item {
		border-bottom: 0;
	}
}